@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


@media screen and (min-width: 1370px){
  .body{
    position: relative;
    background: #FBFFFF;
}
.home{
    position: absolute;
    width: 1920px;
    height: 900px;
    margin-left: 0px;
    margin-top: 0px;

}
.nav_logo{
    position: relative;
    width: 89px;
    height: 98px;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 1;
}
.navlist{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 31px;
    color: #FFFFFF;
}
.homeBG{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}
.about{
    position: relative;
    left: 0px;
    top: 900px;
}
.imgGrp{
    position: absolute;
    width: 35%;
    height: 697px;
    margin-left: 55%;
    margin-top: 160px;
}
.abouttext{
    position: absolute;
    width: 33%;
    height: 386px;
    left: 218px;
    top: 200px;
}
.sechead{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    color: #000000;
}
.paratxt{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}

.techDetails{
    position: relative;
    left: 0px;
    top: 1780px;
}
.techtext{
    position: absolute;
    width: 35%;
    height: 386px;
    left: 218px;
    top: 200px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
}
.video{
    position: relative;
    top: 600px;
    width: 30%;
    height: 360px;
    left: 218px;
}
.bgimg1{
    position: absolute;
    width: 1920px;
    height: 1120px;
    left: 0px;
    top: 2595px;
    z-index: -1;
}
.visionsec{
    width: 80%;
    height: 1080px;
    left: 218px;
    top: 900px;
    top: 2460px;
}
.vision{
    position: absolute;
    width: 90%;
    height: 82%;
    left: 0px;
    margin-top: 150px;
}
.vishead{
    position: absolute;
    width: 122px;
    height: 51px;
    margin-left: 80px;
    margin-top: 250px;
    z-index:2;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
}



  
.content {
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

.centerplease {
  margin: 0 auto;
  max-width: 270px;
  font-size: 40px;
}

/*Question*/
.question {
  position: relative;
  background: #f9f9f9;
  margin: 0;
  padding: 20px 20px 20px 70px;
  display: block;
  width:100%;
  cursor: pointer;
}
/*Answer*/
.answers {
  padding: 0px 15px;
  margin: 5px 0;
  width:100%!important;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.questions:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 15px;
  
}

/*FAQ Toggle*/
.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 18px;
  margin-bottom: 20px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;

}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

}

.questions {
  display: none;
  
} 
  
  .FAQ{
    width: 80%;
    height: 600px;
    left: 141px;
    top: 2540px;
    z-index: 11;
  }
  .FAQhead{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    color: #000000;
    margin-left: 100px;
  }

  .footer{
    position: relative;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 2480px;
    background: #1E302D;
  }
  .foot-img{
    
  }
}




@media screen and (max-width: 1370px){
  .body{
    position: relative;
    background: #FBFFFF;
}
  .home{
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
}
.nav_logo{
    position: absolute;
    width: 70px;
    height: 82px;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 1;
}
.navlist{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;

}
.homeBG{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}
.about{
    z-index: 11;
    top: 768px;
    left: 0px;
    margin-top: 200px;
}
.imgGrp{
    position: absolute;
    width: 40%;
    height: 500px;
    margin-left: 55%;
    margin-top: 0px;
}
.abouttext{
    width:40%;
    position: relative;
    margin-left: 100px;
    margin-top: 20px;
    margin-left: 50px;
    z-index: 11;
}
.sechead{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 49px;
    color: #000000;
}
.paratxt{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}

.techDetails{
    margin-left: 0px;
    margin-top: 200px;
}
.techtext{
    position: relative;
    width: 40%;
    margin-left: 50px;
    margin-top: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
}
.video{
    position: relative;
    margin-top: 50px;
    width: 35%;
    height: 275px;
    margin-left: 50px;
}
.bgimg1{
    position: absolute;
    width: 100%;
    height: h-screen;
    left: 0px;
    top: 1550px;
    z-index: -1;
}
.visionsec{
    width: 100%;
    height: 760px;
    margin-top: 150px;
    z-index: 11;
}
.vision{
    position: absolute;
    width: 80%;
    height: 82%;
    left: 100px;
}
.vishead{
    position: absolute;
    width: 122px;
    height: 51px;
    margin-left: 150px;
    margin-top: 100px;
    z-index:2;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
}


  .content {
    width: 80%;
    padding: 0;
    margin: 0 auto;
  }
  
  .centerplease {
    margin: 0 auto;
    max-width: 270px;
    font-size: 40px;
  }
  
  /*Question*/
  .question {
    position: relative;
    background: #f9f9f9;
    margin: 0;
    padding: 20px 20px 20px 70px;
    display: block;
    width:100%;
    cursor: pointer;
  }
  /*Answer*/
  .answers {
    padding: 0px 15px;
    margin: 5px 0;
    width:100%!important;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }
  
  .questions:checked ~ .answers{
    height: auto;
    opacity: 1;
    padding: 15px;
    
  }
  
  /*FAQ Toggle*/
  .plus {
    position: absolute;
    margin-left: 20px;
    margin-top: 18px;
    margin-bottom: 20px;
    z-index: 5;
    font-size: 2em;
    line-height: 100%;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  
  }
  
  .questions:checked ~ .plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  
  }
  
  .questions {
    display: none;
    
  } 
  
  .FAQ{
    width: 80%;
    height: 600px;
    left: 100px;
    margin-top: 150px;
   
  }
  .FAQhead{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    color: #000000;
    margin-left: 100px;
  }

  .footer{
    width: 100%;
    height: 400px;
    left: 0px;
    margin-top: 150px;
    background: #1E302D;
  }
  .foot-img{
    height: 30%;
    width: 30%;
  }
}